<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="{{ 'assets/css/style.css' | relative_url }}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        <nav>
          <a href="/">Home</a>
          <a href="/posts/">Posts</a>
        </nav>
      </header>
    <section>
      {{ content }}
    </section>
    <footer>
        <span style='font-size:25px;'>&#127770;&#127762;&#127763;&#127764;&#127773;&#127766;&#127767;&#127768;&#127770;</span>
    </footer>
  </body>
</html>